/* CSS Document */

/* @group structure */

#head 		{ background-color:#e1ecf6; 
				height:100px; padding-top:0px; }
				 
.wrap 		{ width: 900px; margin: 0 auto; }


/* @group core nav menu */

#Sub-Nav 		{ margin:0; padding:0; 
				list-style:none; 
				height:35px;   /* This is the height of the nav */
				padding-left: 0px;
				padding-right: 15px;
				background-color: #FFF;  /* This is the background color of the menu */
				}
 
#Sub-Nav li 		{ float: left; display: block; 
				background-color: #FFF; 
				position: relative; z-index: 999; margin: 0 1px; 	}
 
#Sub-Nav li a 	{ display: block; zoom: 1; padding: 0; 
				font-weight: bold; line-height: 50px; text-decoration: none; color: #818ba3;				
				padding: 0px 12px; /* This is the spacing between menu items */
				}

#Sub-Nav li a:hover, #nav li a.hov { background-color: #FFF; color: #AAA; }


/* @group subnav */

#Sub-Nav ul 			{ position: absolute; left: 1px; display: none; 
					margin: 0; padding: 0; 
					list-style: none; 
					padding-bottom: 3px; 
					border: 0;
					}	

#Sub-Nav ul li 		{ width:180px; float:left; text-align:left; }

#Sub-Nav ul li:hover 	{ 	}

